In [27]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105000 entries, 0 to 104999
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   ID                                    105000 non-null  int64
 1   RevolvingUtilizationOfUnsecuredLines  105000 non-null  float64
 2   Age                                   105000 non-null  int64
 3   NumberOfTime30-59DaysPastDueNotWorse  105000 non-null  int64
 4   DebtRatio                             105000 non-null  float64
 5   MonthlyIncome                         84164 non-null   float64
 6   NumberOfOpenCreditLinesAndLoans       105000 non-null  int64
 7   NumberOfTimes90DaysLate               105000 non-null  int64
 8   NumberRealEstateLoansOrLines          105000 non-null  int64
 9   NumberOfTime60-89DaysPastDueNotWorse  105000 non-null  int64
 10  NumberOfDependents                    102236 non-null  float64
 11  SeriousDlqin2yrs                      105000 non-null  int64
dtypes: float64(4), int64(8)
memory usage: 9.6 MB

In [5]:
df.describe()

,ID,RevolvingUtilizationOfUnsecuredLines,Age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,SeriousDlqin2yrs
count,105000.000000,105000.000000,105000.000000,105000.000000,105000.000000,8.416400e+04,105000.000000,105000.000000,105000.000000,105000.000000,102236.000000,105000.000000
mean,75006.458152,5.378324,52.325610,0.409352,352.044192,6.703641e+03,8.459952,0.254619,1.019010,0.228762,0.757933,0.066514
std,43315.742022,201.573457,14.766425,4.056717,1820.229318,1.622288e+04,5.134329,4.032506,1.131065,4.017864,1.115273,0.249180
min,1.000000,0.000000,21.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,37590.750000,0.029974,41.000000,0.000000,0.174950,3.400000e+03,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,74941.500000,0.154252,52.000000,0.000000,0.366061,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,112542.500000,0.556035,63.000000,0.000000,0.870083,8.250000e+03,11.000000,0.000000,2.000000,0.000000,1.000000,0.000000
max,149999.000000,29110.000000,109.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000,1.000000

In [6]:
#Reemplazo los missing de monthlyincome con la mediana de la columna - PRIMERA OPCIÓN DE ANALISIS
def limpieza_df(df):
    df['MonthlyIncome'] = df['MonthlyIncome'].fillna(df['MonthlyIncome'].median())
    df['NumberOfDependents'] = df['NumberOfDependents'].fillna(0)
    return df

In [9]:
df_full = df.copy()
df_full = limpieza_df(df_full)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105000 entries, 0 to 104999
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   ID                                    105000 non-null  int64
 1   RevolvingUtilizationOfUnsecuredLines  105000 non-null  float64
 2   Age                                   105000 non-null  int64
 3   NumberOfTime30-59DaysPastDueNotWorse  105000 non-null  int64
 4   DebtRatio                             105000 non-null  float64
 5   MonthlyIncome                         84164 non-null   float64
 6   NumberOfOpenCreditLinesAndLoans       105000 non-null  int64
 7   NumberOfTimes90DaysLate               105000 non-null  int64
 8   NumberRealEstateLoansOrLines          105000 non-null  int64
 9   NumberOfTime60-89DaysPastDueNotWorse  105000 non-null  int64
 10  NumberOfDependents                    102236 non-null  float64
 11  SeriousDlqin2yrs                      105000 non-null  int64
dtypes: float64(4), int64(8)
memory usage: 9.6 MB

In [10]:
df_full['SeriousDlqin2yrs'].value_counts()

SeriousDlqin2yrs
0    98016
1     6984
Name: count, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105000 entries, 0 to 104999
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   ID                                    105000 non-null  int64
 1   RevolvingUtilizationOfUnsecuredLines  105000 non-null  float64
 2   Age                                   105000 non-null  int64
 3   NumberOfTime30-59DaysPastDueNotWorse  105000 non-null  int64
 4   DebtRatio                             105000 non-null  float64
 5   MonthlyIncome                         84164 non-null   float64
 6   NumberOfOpenCreditLinesAndLoans       105000 non-null  int64
 7   NumberOfTimes90DaysLate               105000 non-null  int64
 8   NumberRealEstateLoansOrLines          105000 non-null  int64
 9   NumberOfTime60-89DaysPastDueNotWorse  105000 non-null  int64
 10  NumberOfDependents                    102236 non-null  float64
 11  SeriousDlqin2yrs                      105000 non-null  int64
dtypes: float64(4), int64(8)
memory usage: 9.6 MB

In [22]:
#SEGUNDA OPCIÓN - Quitamos 

def limpieza_df_incomes(df):
    df = df.dropna(subset=['MonthlyIncome'])
    return df

In [23]:
df_sin_inconme_na = df.copy()
df_sin_inconme_na = limpieza_df_incomes(df_sin_inconme_na)

In [25]:
df_sin_inconme_na.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84164 entries, 0 to 104999
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    84164 non-null  int64
 1   RevolvingUtilizationOfUnsecuredLines  84164 non-null  float64
 2   Age                                   84164 non-null  int64
 3   NumberOfTime30-59DaysPastDueNotWorse  84164 non-null  int64
 4   DebtRatio                             84164 non-null  float64
 5   MonthlyIncome                         84164 non-null  float64
 6   NumberOfOpenCreditLinesAndLoans       84164 non-null  int64
 7   NumberOfTimes90DaysLate               84164 non-null  int64
 8   NumberRealEstateLoansOrLines          84164 non-null  int64
 9   NumberOfTime60-89DaysPastDueNotWorse  84164 non-null  int64
 10  NumberOfDependents                    84164 non-null  float64
 11  SeriousDlqin2yrs                      84164 non-null  int64
dtypes: float64(4), int64(8)
memory usage: 8.3 MB

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error, make_scorer
import numpy as np

# Crear pipeline para variables numéricas
num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

# Combinar pipelines
preprocessor = ColumnTransformer([
    ('num', num_pipeline, col_numericas),
])

model_pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('classifier', XGBRegressor(n_estimators=100, random_state=42))
])

param_grid = {
    'classifier__n_estimators': [450,350,400, 500],
    'classifier__booster': ['gbtree','gblinear'],
    'classifier__learning_rate': [0.1,0.15,0.17], 
    'classifier__max_depth':[2,3,4,5]
}


grid_search = GridSearchCV(
    estimator=model_pipeline,
    param_grid=param_grid,
    cv=5,
    scoring='neg_mean_absolute_error',
    n_jobs=-1,
    verbose=2,
    refit=True
)

grid_search.fit(X, y)

print(grid_search.best_estimator_)
print(grid_search.best_score_)
print(grid_search.best_params_)