![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown
titulo = "AMEX Competition"

### TEMA

# Describe brevemente el tema del proyecto en Markdown
tema = "El riesgo de impago de tarjetas de crédito es la posibilidad de que las empresas o los particulares no puedan devolver el dinero prestado a tiempo y esto es lo que va a intentar predecir el modelo."

### OBJETIVOS

Predecir el riesgo de impago de las tarjetas de crédito

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [ ]:
Fuente : https://www.kaggle.com/datasets/hotsonhonet/amex-competition

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [2]:
import pandas as pd
df = pd.read_csv('train.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45528 entries, 0 to 45527
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              45528 non-null  object
 1   name                     45528 non-null  object
 2   age                      45528 non-null  int64
 3   gender                   45528 non-null  object
 4   owns_car                 44981 non-null  object
 5   owns_house               45528 non-null  object
 6   no_of_children           44754 non-null  float64
 7   net_yearly_income        45528 non-null  float64
 8   no_of_days_employed      45065 non-null  float64
 9   occupation_type          45528 non-null  object
 10  total_family_members     45445 non-null  float64
 11  migrant_worker           45441 non-null  float64
 12  yearly_debt_payments     45433 non-null  float64
 13  credit_limit             45528 non-null  float64
 14  credit_limit_used(%)     45528 non-null  int64
 15  credit_score             45520 non-null  float64
 16  prev_defaults            45528 non-null  int64
 17  default_in_last_6months  45528 non-null  int64
 18  credit_card_default      45528 non-null  int64
dtypes: float64(8), int64(5), object(6)
memory usage: 6.6+ MB

In [4]:
df.head()

,customer_id,name,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
0,CST_115179,ita Bose,46,F,N,Y,0.0,107934.04,612.0,Unknown,1.0,1.0,33070.28,18690.93,73,544.0,2,1,1
1,CST_121920,Alper Jonathan,29,M,N,Y,0.0,109862.62,2771.0,Laborers,2.0,0.0,15329.53,37745.19,52,857.0,0,0,0
2,CST_109330,Umesh Desai,37,M,N,Y,0.0,230153.17,204.0,Laborers,2.0,0.0,48416.60,41598.36,43,650.0,0,0,0
3,CST_128288,Rie,39,F,N,Y,0.0,122325.82,11941.0,Core staff,2.0,0.0,22574.36,32627.76,20,754.0,0,0,0
4,CST_151355,McCool,46,M,Y,Y,0.0,387286.00,1459.0,Core staff,1.0,0.0,38282.95,52950.64,75,927.0,0,0,0