# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [3]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [4]:
chipo["item_price"] = chipo["item_price"].str.replace('$','')
chipo["item_price"] = pd.to_numeric(chipo["item_price"])

In [16]:
chipo.groupby("item_name")["unit_price"].min().max()

np.float64(9.39)

In [15]:
chipo.groupby("item_name")["unit_price"].min().idxmax()

'Barbacoa Salad Bowl'

In [25]:
tabla_agrupados = chipo.groupby("item_name")["unit_price"].min()
precio_max = tabla_agrupados.max()
productos_max = tabla_agrupados[tabla_agrupados == precio_max]
print(productos_max)

item_name
Barbacoa Salad Bowl    9.39
Carnitas Salad Bowl    9.39
Steak Salad Bowl       9.39
Name: unit_price, dtype: float64

### Step 4. How many products cost more than $10.00?

In [ ]:
#Agrego la columna unit price
chipo["unit_price"] = chipo["item_price"]/chipo["quantity"]

In [9]:
chipo

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [26]:
chipo.groupby("item_name")["unit_price"].min()>10.00

item_name
6 Pack Soft Drink                        False
Barbacoa Bowl                            False
Barbacoa Burrito                         False
Barbacoa Crispy Tacos                    False
Barbacoa Salad Bowl                      False
Barbacoa Soft Tacos                      False
Bottled Water                            False
Bowl                                     False
Burrito                                  False
Canned Soda                              False
Canned Soft Drink                        False
Carnitas Bowl                            False
Carnitas Burrito                         False
Carnitas Crispy Tacos                    False
Carnitas Salad                           False
Carnitas Salad Bowl                      False
Carnitas Soft Tacos                      False
Chicken Bowl                             False
Chicken Burrito                          False
Chicken Crispy Tacos                     False
Chicken Salad                            False
Chicken Salad Bowl                       False
Chicken Soft Tacos                       False
Chips                                    False
Chips and Fresh Tomato Salsa             False
Chips and Guacamole                      False
Chips and Mild Fresh Tomato Salsa        False
Chips and Roasted Chili Corn Salsa       False
Chips and Roasted Chili-Corn Salsa       False
Chips and Tomatillo Green Chili Salsa    False
Chips and Tomatillo Red Chili Salsa      False
Chips and Tomatillo-Green Chili Salsa    False
Chips and Tomatillo-Red Chili Salsa      False
Crispy Tacos                             False
Izze                                     False
Nantucket Nectar                         False
Salad                                    False
Side of Chips                            False
Steak Bowl                               False
Steak Burrito                            False
Steak Crispy Tacos                       False
Steak Salad                              False
Steak Salad Bowl                         False
Steak Soft Tacos                         False
Veggie Bowl                              False
Veggie Burrito                           False
Veggie Crispy Tacos                      False
Veggie Salad                             False
Veggie Salad Bowl                        False
Veggie Soft Tacos                        False
Name: unit_price, dtype: bool

In [23]:
chipo["unit_price"].min()>10.00

np.False_

In [28]:
len(tabla_agrupados[tabla_agrupados>10.00])

0

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [38]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
 5   unit_price          4622 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 216.8+ KB

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

In [ ]:
ordenedes_agrupada = chipo.groupby("order_id")["item_price"].sum()

len(ordenedes_agrupada[ordenedes_agrupada > 10.00])

1834

In [39]:
chipo.groupby("order_id")["item_price"].sum().min()

np.float64(10.08)

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

In [44]:
chipo.groupby("order_id")

In [58]:
len(chipo[chipo["quantity"]>1][chipo["item_price"]>10])

C:\Users\Andre\AppData\Local\Temp\ipykernel_17576\2255840530.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(chipo[chipo["quantity"]>1][chipo["item_price"]>10])

133

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [60]:
chipo[["item_name","unit_price"]]

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [88]:
chipo[["item_name","unit_price"]].sort_values("item_name")

              item_name  unit_price
3389  6 Pack Soft Drink        6.49
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [19]:
ind_max_exp = chipo["unit_price"].idxmax()
print()

chipo["quantity"].iloc[ind_max_exp]

np.int64(2)

In [66]:
ind_max_exp2 = chipo["item_price"].idxmax()
chipo["quantity"].iloc[ind_max_exp]

np.int64(2)

In [64]:
chipo.sort_values("quantity")

,order_id,quantity,item_name,choice_description,item_price,unit_price
4576,1820,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",11.25,11.25
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4492,1787,1,Chicken Burrito,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75,8.75
...,...,...,...,...,...,...
2441,970,5,Bottled Water,NaN,7.50,1.50
3599,1443,7,Bottled Water,NaN,10.50,1.50
3887,1559,8,Side of Chips,NaN,13.52,1.69
4152,1660,10,Bottled Water,NaN,15.00,1.50
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,2.95

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [74]:
chipo[chipo["item_name"] == "Veggie Salad Bowl"].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
unit_price            18
dtype: int64

In [71]:
len(chipo[chipo["item_name"] == "Veggie Salad Bowl"])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [76]:
len(chipo[chipo["item_name"]== "Canned Soda"][chipo["quantity"]>1])

C:\Users\Andre\AppData\Local\Temp\ipykernel_17576\2053667632.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(chipo[chipo["item_name"]== "Canned Soda"][chipo["quantity"]>1])

20